# Ignorar todos los embedding_matrix.csv
**/embedding_matrix.csv

# Ignorar todos los vocabulary_nostopword.csv
**/vocabulary_nostopwords.csv

# Ignorar todos los embedding_matrixK.csv
**/embedding_matrixK.csv

**/Modelo

**/dataset.hf

**/glove.twitter.27B.100d.txt

TRABAJO CREATIVO/embedding_matrixK.csv
TRABAJO CREATIVO/model.model
TRABAJO CREATIVO/model.model
TRABAJO CREATIVO/embedding_matrixKWithStopwords
TRABAJO CREATIVO/__pycache__/training.cpython-313.pyc
TRABAJO CREATIVO/__pycache__/testing.cpython-313.pyc
TRABAJO CREATIVO/__pycache__/red.cpython-313.pyc
TRABAJO CREATIVO/__pycache__/preprocesamiento.cpython-313.pyc
TRABAJO CREATIVO/__pycache__/matriz_embedding.cpython-313.pyc
TRABAJO CREATIVO/__pycache__/features.cpython-313.pyc
TRABAJO CREATIVO/embedding_matrixKWithStopwords
